<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="webpage">
    <header class="webpage">
      <div class="wrapper wrap1">
        <nav class="navbar">
          <div class="logo">
            <img src="./assets/images/Logo.png" alt="Logo" />
          </div>

          <div class="navlist">
            <ul class="navigation">
              <li><a href="#" class="nav1" style="color:#0065FE;">My URLs</a></li>
              <div class="navsub"><li><a href="#" class="nav2">Features <img src="./assets/images/navbar-icon.png" alt="dropdown-icon"></a></li></div>
              <li><a href="#" class="nav3">Pricing</a></li>
              <li><a href="#" class="nav4">Analytics</a></li>
              <li><a href="#" class="nav5">FAQs</a></li>
            </ul>
          </div>
          
          <!-- <div class="cta">
            <a href="/auth/google" class="link link-text">Log in</a>
            <a href="/short-url" id="tryForFreeLink" class="button button-text" style="text-decoration: none;">Try for free</a>
          </div> -->
        </nav>

        <!--End of Navigation Bar-->

        <div class="aurora">
          <div class="aurora aurora1"></div>
          <div class="aurora aurora2"></div>
          <div class="aurora aurora3"></div>
        </div>


        <div class="pg1-body">
          <div class="pg1-body1">
            <div class="body1-group">
              <img src="./assets/images/pg1body-icon.png" alt="line" class="vector" />
              <h3 class="h-text">
                Optimize Your Online Experience with Our Advanced URL Shortening Solution
              </h3>
            </div>
            <p class="p-text">
              Personalize your shortened URLs to align with your brand identity.
              Utilize custom slugs, branded links, and domain customization
              options to reinforce your brand presence and enhance user
              engagement.
            </p>
          </div>

          <div class="pg1-body2">
            <a href="/auth/google" class=" button b-text">Sign up</a>
            <a href="/auth/google" class=" button b-text">Log in</a>
         
            <!-- <a href="#" class="a-text">Learn more</a> -->
          </div>
        </div>
      
        <!--End of the middle section on page 1-->



        <div class="pg1-footer">
          <div class="pg1-foot1">
              <img src="./assets/images/chain.png" alt="chain" class="chain"/>
              <p class="p-text2">
              Seamlessly transform your long URLs into <strong>concise</strong>
            <br />and <strong>shareable</strong>links with just few clicks.
             </p>
            <a href="/short-url" class="button b-text2">Try for Free</a>
        
          </div>
          
          
        </div>

        <div class="pg1-base">
          <img src="./assets/images/pg1base.png" alt="base"/>
        </div>

    </header>
    <!--End of the Header section or end of Page 1-->

    <!--Begining of Page 2 (Feature Page)-->
    <section class="webpage"> 
    <div class="wrapper page2">
      <div class="pg2-top">
        <div class="top-left">
          <h3>
            One Stop. <br />
            Four <span style="color:#0065FE">Possibilties</span>.
          </h3>
        </div>
        <div class="top-right">
          <div class="group1">
            <div class="content1">
              <h5>3M</h5>
              <p>Active users</p>
            </div>
            <div class="content2">
              <h5>60M</h5>
              <p>Links & QR codes created</p>
            </div>
          </div>
          <div class="group2">
            <div class="content3">
              <h5>1B</h5>
              <p>Clicked & Scanned connections</p>
            </div>
            <div class="content4">
              <h5>300k</h5>
              <p>App Integrations</p>
            </div>
          </div>
        </div>
      </div>
      <!--End of the Top section of Page 2-->

      <div class="pg2-body">
        <div class="body-left">
          <div class="left-content">
            <div class="line70">
              <h3>Why choose <span style="color: #0065FE;">Scissors</span></h3>
            </div>
          </div>
          <p>
            Scissors is the hub of everything that has to do with your link
            management. We shorten your URLs, allow you creating custom ones for
            your personal, business, event usage. Our swift QR code creation,
            management and usage tracking with advance analytics for all of
            these is second to none.
          </p>
        </div>

        <div class="body-right">
          <div class="right-top">
            <div class="top-content1">
              <img src="./assets/images/url-icon.png" alt="url-icon" />
              <div class="content1-text">
                <h6>URL Shortening</h6>
                <p>
                  Scissor allows you to shorten URLs of your business, events.
                  Shorten your URL at scale, URL redirects.
                </p>
              </div>
            </div>
            <div class="top-content2">
              <img src="./assets/images/custom-icon.png" alt="custom-icon" />
              <div class="content2-text">
                <h6>Custom URLs</h6>
                <p>
                  With Scissor, you can create custom URLs, with the length you want! A solution for socials and businesses.
                </p>
            </div>
          </div>
        </div>

        <div class="right-bottom">
          <div class="bottom-content1">
            <div class="img"> <img src="./assets/images/qr-icon.png" alt="qr-icon" /></div>
              <div class="bcontent1-text">
                <h6>QR Codes</h6>
                <p>
                  Generate QR codes to your business, events. Bring your audience and customers to your doorstep with this scan and go solution.
                </p>
              </div>
            </div>
            <div class="bottom-content2">
              <div class="img"><img src="./assets/images/data-icon.png" alt="data-icon" /></div>
              <div class="bcontent2-text">
                <h6>Data Analytics</h6>
                <p>
                  Receive data on the usage of either your shortened URL, custom URLs or generated QR codes. Embedded to monitor progress.
                </p>
          </div>
        </div>
      </div>
    </div>
      </div>
    </section>
        <!--End of the Webpage section of Page 2-->
        <!--Begining of Page 3 (Pricing Page)-->
    <section>
      <div class="wrapper page3">
        <div class="pg3-top">
          <div class="pg3-line70"> <img src="./assets/images/pg3line.png" alt="line-img"></div>
          <div class="pg3-content">
            <h3> A <span style="color:#0065FE;"> price perfect</span> price perfect for your needs.</h3>
            <p> From catering for your personal, business, event, socials needs, you can be rest assured we have you in mind in our pricing.</p>
          </div>
        </div>

          <div class="pg3-body">
            <div class="pg3-bleft">
              <p class="title">Basic</p>
              <div class="free">
                <div class="free-content">
                  <h5>Free</h5>
                  <p>Free plan for all users</p>
                </div>
                <div class="free-list">
                  <div class="list list1">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Unlimited URL Shortening</p>
                  </div>
                  <div class="list list2">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Basic Link Analytics</p>
                  </div>
                  <div class="list list3">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Customizable Short Links</p>
                  </div>
                  <div class="list list4">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Standard Support</p>
                  </div>
                  <div class="list list5">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Ad-supported</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pg3-bmid">
              <p class="title2">Professional</p>
              <div class="prof">
                <div class=" prof-content">
                  <h5>$15/month</h5>
                  <p>Ideal for business creators</p>
                </div>
                <div class="prof-list">
                  <div class="list list11">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Enhanced Link Analytics</p>
                  </div>
                  <div class="list list11">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Custom Branded Domains</p>
                  </div>
                  <div class="list list11">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Advanced Link Customization</p>
                  </div>
                  <div class="list list11">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Priority Support</p>
                  </div>
                  <div class="list list11">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Ad-free Experience</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="pg3-bright">
              <p class="title3">Teams</p>
              <div class="team">
                <div class="team-content">
                  <h5>$25/month</h5>
                  <p>Share with up to 10 users</p>
                </div>
                <div class="team-list">
                  <div class="list list21">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Team Collaboration</p>
                  </div>
                  <div class="list list21">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>User Roles and Permissions</p>
                  </div>
                  <div class="list list21">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Enhanced Security</p>
                  </div>
                  <div class="list list21">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>API Access</p>
                  </div>
                  <div class="list list21">
                    <img src="./assets/images/check-circle.png" alt="check">
                    <p>Dedicated Account Manager</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="pg3-bottom">
              <div class="bottom-btn">
                <a href="#" class="bbtn1">Get Custom Pricing</a>
                </div>
                <div class="bottom-btn2">
                  <a href="#" class="bbtn2">Select Pricing</a>
              </div>
          </div>
            
          </div>
            </div>
      </div>
    </section>
    <!--End of page 3-->
    <!--Begining of Page 4-->
    <section>
        <div class="pg4">
        <img src="./assets/images/page 4.png" alt="form">
      </div>
    
    </section>

    <!--Begining of Page 5-->

    <section>
      <div class="wrapper wrap5">
        <div class="faq-section">
        <div class="pg5-top">
          <div class="pg5-line70"> <img src="./assets/images/pg3line.png" alt="line-img"></div>
          <div class="pg5-content">
            <h3> FAQs</h3>
          </div>
        </div>

    <div class="faq-body">

      <div class="faq-item">
        <div class="faq-question">
          <h4>How does URL shortening work?</h4>
          <img src="./assets/images/minus.png" alt="-">
        </div>
        <p>URL shortening works by taking a long URL and creating a shorter, condensed version that redirects to the original URL. When a user clicks on the shortened link, they are redirected to the intended destination.
          </p>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>
    
      <div class="faq-item1">
        <div class="faq-question">
          <h4>Is it necessary to create an account to use the URL shortening service?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

      <div class="faq-item1">
        <div class="faq-question">
          <h4>Are the shortened links permanent? Will they expire?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>


      <div class="faq-item1">
        <div class="faq-question">
          <h4>Are there any limitations on the number of URLs I can shorten?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

      <div class="faq-item1">
        <div class="faq-question">
          <h4>Can I customize the shortened URLs to reflect my brand or content?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

      <div class="faq-item1">
        <div class="faq-question">
          <h4>Can I track the performance of my shortened URLs?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

      <div class="faq-item1">
        <div class="faq-question">
          <h4>How secure is the URL shortening service? Are the shortened links protected against spam or malicious activity?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

      <div class="faq-item1">
        <div class="faq-question">
          <h4>What is a QR code and what can it do?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

      <div class="faq-item1">
        <div class="faq-question">
          <h4>Is there an API available for integrating the URL shortening service into my own applications or websites?</h4>
          <img src="./assets/images/plus.png"  alt="+">
        </div>
        <img src="./assets/images/faq-line.png" alt="line" class="faq-line">
      </div>

    </div>
    </div>
    </div>
    </section>
    <section class="footer" >
        <div class="pg6">
        <img src="./assets/images/pg6.png" alt="get started">
      </div>
    </section>

    <section>
      <div class="wrapper">
      <div class="pg6-left">
        <img src="./assets/images/footer-left.png" alt="socials">
      </div>

      <div class="wrap6 pg6-body">
        <div class="pg6-body1">
          <div class="top">
            <p class="p-top"><strong> Why Scissor ?</strong></p>
            <div class="top-text">
              <p class="p-top2">Scissor 101 Integrations & API Pricing</p>
            </div>
          </div>

          <div class="bottom">
            <p class="p-bottom"><strong> Resources</strong></p>
            <div class="bottom-text">
              <p class="p-bottom2">Blog
                Resource Library
                Developers
                App Connectors
                Support
                Trust Center
                Browser Extension
                Mobile App</p>
            </div>
        </div>
      </div>

      <div class="pg6-body1">
        <div class="top">
          <p class="p-top"><strong> Solutions</strong></p>
          <div class="top-text">
            <p class="p-top2">Social Media
              Digital Marketing
              Customer Service
              For Developers</p>
          </div>
        </div>

        <div class="bottom">
          <p class="p-bottom"><strong> Features</strong></p>
          <div class="bottom-text">
            <p class="p-bottom2">Branded Links
              Mobile Links
              Campaign
              Management &
              Analytics
              QR Code generation</p>
          </div>
      </div>
    </div>

    <div class="pg6-body1">
      <div class="top">
        <p class="p-top"><strong> Products</strong></p>
        <div class="top-text">
          <p class="p-top2">Link Management
            QR Codes
            Link-in-bio</p>
        </div>
      </div>

      <div class="bottom">
        <p class="p-bottom"><strong>Legal</strong></p>
        <div class="bottom-text">
          <p class="p-bottom2">Privacy Policy
            Cookie Policy
            Terms of Service
            Acceptable Use Policy
            Code of Conduct</p>
        </div>
    </div>
    </div>

   <div class="pg6-body1">
    <div class="top">
      <p class="p-top"><strong>Company</strong></p>
      <div class="top-text">
        <p class="p-top2">About Scissor
          Careers
          Partners
          Press
          Contact
          Reviews</p>
      </div>
    </div>
    </div>
    </div>

    <div class="pg6-right">
      <p>Term of Service</p>
      <img src="./assets/images/footer-line.png" alt="line" class="vector">
      <p class="r-p">Security</p>
      <img src="./assets/images/footer-line.png" alt="line" class="vector">
      <p>Scissors 2023</p>
      <img src="./assets/images/footer-line.png" alt="line" class="vector">
   </div>
    </div>
    </section>
  </div>
  </body>
</html>
